# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.venv/
venv/

# Django
db.sqlite3
media/
staticfiles/

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Node (если есть frontend)
node_modules/
npm-debug.log*
dist/
build/

# Env files

